.header_cont {
    .search {
        position: relative;
        display: table;
        vertical-align: middle;
        right: 1.6%;
        float: right;
        .search_cont {
            vertical-align: middle;
            line-height: 1;
            background:  #464646  url(../../images/toolbar_find.png);
            background-repeat: no-repeat;
            background-position: 4px;
            border-radius: 5px;
            position: absolute;
            top: 0;
            right: 0;
            display: table-cell;
            width: 40px;
            height: 40px;
            &:hover {
                opacity: .9;
            }
        }
        #search_field {
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 5px;
            font-size: 10pt;
            float: right;
            color: #262626;
            padding: 20px;
            outline: none;
            transition: width .4s ease;
             /* &:focus {

              } */
        }
    }
}