.header_cont {
    height: 75px;
    max-width: 2560px;
    margin: 0 auto;
    padding: 16px 0 18px;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.nav_toggle {
    display: none;
    position: fixed;
    width: 35px;
    height: 25px;
    left: 12px;
    top: 26px;
    z-index: 2;
    transition: all .5  s ease-in-out;
    &:before {
        height: 4px;
        background: #fff;
        content: '';
        display: block;
        border-radius: 2px;
        transition: all 0.5s ease;
        box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
    }
}


@media screen and (max-width: 767px) {
    .header_cont .nav_toggle {
        display: block;
    }
}