.header_cont {
    .nav_toggle {
        cursor: pointer;
        width: 35px;
        height: 4px;
        display: block;
        border-radius: 2px;
        background: #464646;
        position: absolute;
        outline: none;
        border: none;
        transition: all .5  s ease-in-out;
        &:before {
            content: '';
            position: absolute;
            top: -10px;
            display: block;
            height: 4px;
            width: 35px;
            background: #464646;
            border-radius: 2px;
            cursor: pointer;
            transition: all .5 ease-in-out;
        }
        &:after {
            position: absolute;
            bottom: -10px;
            display: block;
            width: 35px;
            height: 4px;
            border-radius: 2px;
            background: #464646;
            content: '';
            cursor: pointer;
            transition: all .5 ease-in-out;
        }
        &.active {
            background-color: transparent;
        }
        &.active:before {
            top: 0;
            transform: rotate(45deg);
        }
        &.active:after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}
@media screen and (max-width: 767px) {
    .header_cont .nav_btn {
        display: block;
    }
}