header {
    background: #f36523;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    .header_cont {
        height: 75px;
        max-width: 2560px;
        margin: 0 auto;
        padding: 16px 0 18px;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
}