.header_cont .nav_btn {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 45px;
    height: 40px;
    overflow: hidden;
    top: 16px;
    left: 5px;
    button {
        color: #404040;
        line-height: 6px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        width: 45px;
        height: 40px;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
        &.menu_btn_active {
            color: #fdfffe;
        }
    }
}
@media screen and (max-width: 767px) {
    .header_cont .nav_btn {
        display: block;
    }
}