.search {
    position: absolute;
    top: 20px;
    transition: width .6s ease;
    right: 20px;
    z-index: 10;
    .search_cont {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 5px;
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        background:  #464646  url(../../images/toolbar_find.png);
        background-repeat: no-repeat;
        &:hover {
            background-color: #DE681D;
        }
    }
    #search_field {
        width: 0;
        height: 30px;
        border: none;
        border-radius: 5px;
        font-size: 10pt;
        color: #262626;
        padding: 0 10px;
        outline: none;
        transition: width .4s ease;
        &.active {
          width: 220px;
        }
    }
}

@media screen and (max-width: 480px) {
  .search {
    top: 94px;
     #search_field .active{
        width: 160px;
     }
   }
}