.search {
    position: fixed;
    right: 1.6%;
    top: 3%;
    z-index: 10;
    display: block;
    .search_cont {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 5px;
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        background:  #464646  url(../../images/toolbar_find.png);
        background-repeat: no-repeat;
        &:hover {
            opacity: .9;
        }
    }
    #search_field {
        width: 0px;
        height: 30px;
        border: none;
        border-radius: 5px;
        font-size: 10pt;
        color: #262626;
        padding: 0 10px;
        outline: none;
        transition: width .4s ease;
         /* &:focus {

          } */
    }
}

@media screen and (max-width: 767px) {
   .search {
        // top: 3%!important;
     #search_field {
        // width: 180px;
     }
   }
}

@media screen and (max-width: 480px) {
  .search {
     #search_field {
        // width: 160px;
     }
   }
}