#addForm, #editForm {
  margin: 0 20px 0 220px;
  #article_form {
      label{
        font-size: 20px;
        margin-top: 80px;
        line-height: 38px;
        border-collapse: collapse;
      }
      #caption, #route_description,
      #imgs_url, #duration, #url{
        display: block;
        width: 100%;
        outline: none;
        padding: 10px;
        border-radius: 3px;
        border: none;
        margin-bottom: 10px;
      }
      .btn_style {
        width: 140px;
        height: 36px;
        border: 2px solid #827E7E;
        background-color: #F1F1F1;
        outline: none;
        border-radius: 3px;
        overflow: hidden;
        margin: 10px 15px 10px 0;
        border-width: 1px 2px 2px 1px;
        background-color: #F1F1F1;
        color: #66716D;
        font-size: 14px;
        transition: all .5s ease-out;
        &:hover {
          border-color: #D8622B;
          color: #94947C;
        }
        &:active {
          margin-top: 1px;
        }
      .stl {
          display: block;
          font-size: 20px;
        }
        input[type="radio"] {
          margin-left: 5px;
          margin-right: 2px;
        }
    }
  }
}
.sidebar {
  #add_map, #add_rock, .add_gps_track, .add_images{
      position: fixed;
      z-index: 1;
      width: 200px;
      height: 60px;
      padding-left: 40px;
      border: none;
      border-bottom: 1px dotted #696161;
      color: #fff;
      text-align: left;
      outline: none;
      background-color: #383E4B;
      transition: all .5s ease-out;
      &:before, &:after {
        border-right: 1px solid;
        content: '';
        display: block;
        width: 0;
        height: 8px;
        margin-top: -6px;
        position: absolute;
        top: 50%;
        left: 16px;
        transform: rotate(135deg);
      }
      &:after {
        margin-top: -1px;
        transform: rotate(45deg);
      }
      &:hover {
        background-color: #2D323D;
        color: #F1F1F1;
      }
    }
    #add_map {
      top: 75px;
      left: 0;

    }
    .add_gps_track {
      top: 135px;
      left: 0;
    }
    #add_rock {
      top: 195px;
      left: 0;
    }
    .add_images {
      top: 254px;
      left: 0;
    }
}
.toggle_sidebar {
    .sidebar {
      top: 0;
      transform: translateX(0);
    }
}
.error {
  box-shadow: 0 -2px 2px red;
}



@media screen and (max-width: 960px) {
    #addForm, #editForm {
      margin: 0 20px 0 220px;
    }
  .sidebar{
    #add_map {
      top: 0px;
      left: 0;

    }
    .add_gps_track {
      top: 60px;
      left: 0;
    }
    #add_rock {
      top: 120px;
      left: 0;
    }
    .add_images {
      top: 180px;
      left: 0;
    }
  }
}
@media screen and (max-width: 767px) {
  #addForm, #editForm {
      margin: 0 20px;
    }


    .sidebar {
      // top: 0;
      transform:translateX(-100%);
      transition: all .5s ease 0s;
    }
}
