<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>Article</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
        <header>
            <div class="header_cont">
                <div class="nav_btn">
                    <button>
                        <span>—</span><br>
                        <span>—</span><br>
                        <span>—</span>
                    </button>
                </div>
                <div class="logo">
                    <a href="#" class="logo_cont">
                        <p class="top">extrem</p>
                        <p class="bttm">hiking club</p>
                    </a>
                </div>
                <div class="search">
                    <div class="search_cont">search</div>
                    <input type="text" id="search_field" placeholder="type your search here...">
                </div>
            </div>
        </header>
        <div class="content">
            <div class="content_cont">
                <nav>
                    <ul class="menu">
                        <li><a href="#">маршрути</a></li>
                        <li><a href="#">контакти</a></li>
                        <li><a href="#">контакти</a></li>
                    </ul>
                </nav>
                <div class="east_side">
                </div>
            </div>
        </div>
        <footer>
        </footer>
    <script type="text/template" class="article-list-template">
    <div class="article-container">
        <h2 class="article-title"><%= title %></h2>
        <div class="route"><%= route %></div>
        <div class="difficulty"><span>Складність: </span><%= difficulty %></div>
        <div class="duration"><span>Тривалість: </span><%= duration %></div>
        <div class="short-description"><%= shortDescription %></div>
        <div class="creationDate"><%= creationDate %></div>
    </div>
    </script>
    <script type="text/template" class="article-template">
        <div class="topic">
                        <div class="topic_cont">
                            <div class="left">
                                <p class="h1"><%= title %></p>
                                <p class="info"><%= route %></p>
                            </div>
                            <div class="right">

                                <div class="clock_block">
                                    <img src="images/clock.png" />
                                    <p class="time">~<%= duration %></p>
                                </div>
								<div class="diff_block">
                                    <div class="m_imgs">
                                        <img src="images/half_mount.png" class="one <% if(difficulty >= 1) { %>active<% } %> " />
                                        <img src="images/half_mount.png" class="two <% if(difficulty >= 2) { %>active<% } %>" />
                                        <img src="images/half_mount.png" class="three <% if(difficulty >= 3) { %>active<% } %>" />
                                        <img src="images/half_mount.png" class="four <% if(difficulty >= 4) { %>active<% } %>" />
                                        <img src="images/half_mount.png" class="five <% if(difficulty >= 5) { %>active<% } %>" />
                                        <img src="images/half_mount.png" class="six <% if(difficulty >= 6) { %>active<% } %>" />
                                        <img src="images/full_mount.png" class="seven <% if(difficulty >= 7) { %>active<% } %>" />
                                    </div>
								    <p class="diff"><%= difficulty %></p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <div class="description_cont">
                            <p class="h2">Опис</p>
                            <div class="descr_info"><%= description %>
                            </div>
                        </div>
                    </div>
                    <div class="itinerary">
                        <p class="h2">Маршрут</p>
                        <div class="itinerary_cont">
                        </div>
                    </div>

                    <div class="blocks">
                        <% if (typeof imgs !== "undefined") { %>
                            <div id="owl-demo" class="owl-carousel">
                                <% _.each(imgs, function(val) { %>
                                    <div class="item"><img src="<%= val %>"></div>
                                <% }) %>
                            </div>
                        <% } %>
                    </div>

                    <div class="date"><%= creationDate %></div>
        </script>
        <script type="text/template" class="admin">
            <h1>Нова стаття</h1>
                   <form action="#" id="article_form">
                       <label for="caption">Заголовок</label><input type="text" id="caption" placeholder="Заголовок статті" required>
                       <label for="route_description">Опис маршруту</label><input type="text" id="route_description" placeholder="с. Кваси - г. Петрос(2020м) - г. Говерла(2061м) - г. Піп Іван(2028м) - с. Дземброня">
                       <label for="description">Опис</label><textarea id="description" required></textarea>
                       <button type="button" id="add_map">Додати мапу</button>
                       <div id="map_container">
                            <input type="text" name="autocompete" id="autocomplete" />
                            <div id="drawing_controls"></div>
                            <div id="map"></div>
                        </div>
                       <button type="button" id="add_rock">Додати скелю</button>
                        <div id="choose_url">
                            <label for="url">Введіть url адресу знимка скали:</label><input type="url" id="url" placeholder="Url goes here"><span id="error"></span>
                            <button type="button" id="load_rock_image">Завантажити знимок</button>
                        </div>
                        <div id="rock_container">
                            <canvas id="canvas"><span>Unfortunately your browser doesn't support canvas. Use the latest version of a browser</span></canvas>
                        </div>
                        <div id="carousel_imgs">
                            <lable for="imgs_url">Введіть url адресу зображення місцевості:</lable><br>
                            <input type="url" id="imgs_url" placeholder="Url goes here">
                            <button type="button" id="load">Завантажити</button>
                        </div>
                       <label>Складність</label>
                       <label><input type="radio" name="difficulty" id="radio1" value="1">1</label>
                       <label><input type="radio" name="difficulty" id="radio2" value="2">2</label>
                       <label><input type="radio" name="difficulty" id="radio3" value="3">3</label>
                       <label><input type="radio" name="difficulty" id="radio4" value="4">4</label>
                       <label><input type="radio" name="difficulty" id="radio5" value="5">5</label>
                       <label for="duration">Тривалість</label><input type="text" placeholder="15год" id="duration">
                       <button type="button" id="submit">Зберегти</button>
                       <input type="reset" id="reset" value="Очистити">
                        <button type="button" id="showArticlesTable">Edit/Delete Articles</button>
                   </form>
        </script>
        <script type="text/template" id="editable_article">
            <div id="table_container">
                <table id="articles_table">
                    <td class="edit_article_title"><%= title %></td>
                    <td class="control_buttons">
                        <button type="button" class="edit">Edit</button>
                        <button type="button" class="delete">Delete</button>
                    </td>
                </table>
            </div>
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places,drawing&sensor=false"></script>
        <script src="scripts/bundle.js"></script>
        <script src="scripts/assets/ckeditor/ckeditor.js"></script>
    </body>
</html>