<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>Article</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
        <header>
            <div class="header_cont">
                <div class="nav_btn">
                    <button>
                        <span>—</span><br>
                        <span>—</span><br>
                        <span>—</span>
                    </button>
                </div>
                <div class="logo">
                    <a href="#" class="logo_cont">
                        <p class="top">extrem</p>
                        <p class="bttm">hiking club</p>
                    </a>
                </div>
                <div class="search">
                    <div class="search_cont">search</div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="content_cont">
                <nav>
                    <ul class="menu">
                        <li><a href="#">маршрути</a></li>
                        <li><a href="#">контакти</a></li>
                        <li><a href="#">контакти</a></li>
                    </ul>
                </nav>
                <div class="east_side">
                </div>
            </div>
        </div>
        <footer>
        </footer>
    <script type="text/template" class="article-list-template">
    <div class="article-container">
        <h2 class="article-title"><%= title %></h2>
        <div class="route"><%= route %></div>
        <div class="short-description"><%= shortDescription %></div>
    </div>
    </script>
    <script type="text/template" class="article-template">
        <div class="topic">
                        <div class="topic_cont">
                            <div class="left">
                                <p class="h1"><%= title %></p>
                                <p class="info">с. Зелене - Угорські скелі - г. Скупова - г. Крента - пгт. Верховина</p>
                            </div>
                            <div class="right">
                                <p class="time">~56 годин</p>
                                <p class="diff">Важка</p>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <div class="description_cont">
                            <p class="h2">Опис</p>
                            <div class="descr_info"><%= description %>
                            </div>
                        </div>
                    </div>
                    <div class="itinerary">
                        <p class="h2">Маршрут</p>
                        <div class="itinerary_cont">
                        </div>
                    </div>
                    <div class="blocks">
                        <div class="blocks_cont">
                            <div class="blocks_item odd">
                                <div class="items_cont"></div>
                            </div>
                            <div class="blocks_item even">
                                <div class="items_cont"></div>
                            </div>
                            <div class="blocks_item odd">
                                <div class="items_cont"></div>
                            </div>
                            <div class="blocks_item even">
                                <div class="items_cont"></div>
                            </div>
                        </div>
                    </div>
        </script>
        <script type="text/template" class="admin">
            <h1>Нова стаття</h1>
                   <form action='#'>
                       <label for="caption">Заголовок</label><input type="text" id="caption" placeholder="Заголовок статті" required>
                       <label for="route_description">Опис маршруту</label><input type="text" id="route_description" placeholder="с. Кваси - г. Петрос(2020м) - г. Говерла(2061м) - г. Піп Іван(2028м) - с. Дземброня">
                       <label for="description">Опис</label><textarea id="description"></textarea>
                       <button id="add_map">Додати мапу</button>
                       <button id="add_rock">Додати скелю</button>
                       <div id="map_container"></div>
                       <label>Складність</label>
                       <label><input type="radio" name="complexity" value="1">1</label>
                       <label><input type="radio" name="complexity" value="2">2</label>
                       <label><input type="radio" name="complexity" value="3">3</label>
                       <label><input type="radio" name="complexity" value="4">4</label>
                       <label><input type="radio" name="complexity" value="5">5</label>
                       <label for="duration">Тривалість</label><input type="text" placeholder="15год" id="duration">
                       <input type="submit" id="submit" value="Зберегти">
                       <input type="reset" id="reset" value="Очистити">
                   </form>
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places,drawing&sensor=false"></script>
        <script src="scripts/bundle.js"></script>
        <script src="ckeditor/ckeditor.js"></script>
    </body>
</html>