<div class="east_side">
   <div class="article-container">
    <h2 class="article-title"><%= title %></h2>
    <% if (type == "routs") { %>
        <% if(route) { %>
            <div class="route">
                <%= route %>
            </div>
        <% } %>
        <% if(difficulty) { %>
            <div class="difficulty"><span>Складність: </span>
                <%= difficulty %>
            </div>
        <% } %>
        <% if(route) { %>
            <div class="duration"><span>Тривалість: </span>
                <%= duration %>
    </div>
    <% } %>
<% } %>
<div class="short-description">
    <%= shortDescription %>
</div>
<div class="creationDate">
    <%= creationDate %>
</div>
</div>
</div>