<nav class="user_sidebar">
    <ul>
        <li data-label="Cтатті" class="item-all"><a href="#all"><span>Cтатті</span></a></li>
        <li data-label="Новини" class="item-news"><a href="#news"><span>Новини</span></a></li>
        <li data-label="Маршрути" class="item-routs"><a href="#routs"><span>Маршрути</span></a></li>
        <li data-label="Скелі" class="item-rocks"><a href="#rocks"><span>Скелі</span></a></li>
        <li class="to-main"><a href="#"><span>На головну</span></a></li>
    </ul>
</nav>