.itinerary {
    position: relative;
    margin-bottom: 40px;
    .h2 {
        width: 96%;
        margin: 0 auto;
        padding: 25px 1%;
    }
    .itinerary_cont {
        height: 540px;
        background: #d8d8d8;
    }
}
