.topic .right .diff_block {
    text-align: right;
    display: table;
    float: left;
    p {
        color: #d21414;
    }
    .m_imgs {
        position: relative;
        width: 90px;
        height: 25px;
        img {
            position: absolute;
            height: 15px;
            top: 5px;
            opacity: 0.2;
        }
        .one {
            left: 0;
        }
        .two {
            left: 10px;
        }
        .three {
            left: 20px;
        }
        .four {
            left: 30px;
        }
        .five {
            left: 40px;
        }
        .six {
            left: 50px;
        }

        .active {
            opacity: 1;
        }
    }
}