nav {
    width: 21%;
    float: left;
    background: #464646;
    height: 100%;
    position: fixed;
    top: 0;
    max-width: 535px;
    z-index: 5;
    display: block;
    .menu {
        padding: 110px 0 0 0;
        list-style-type: none;
        width: 74%;
        margin: 0 auto;
        a {
            text-transform: uppercase;
            color: #fdfffe;
            text-decoration: none;
            font-size: 12px;
            letter-spacing: 2px;
            line-height: 4;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
@media screen and (min-width: 2561px) {
    nav .menu li a {
        font-size: 21px;
    }
}
@media screen and (max-width: 2560px) and (min-width: 1440px){
    nav .menu li a {
        font-size: .8vw;
    }
}
@media screen and (max-width: 767px) {
    nav {
        display: none;
        float: none;
        width: 200px;
    }
}