.backside {
    background: url(../../images/bg-mountains.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 767px) {
  .backside {
      background-position: 65% 20%;
  }
}

@media screen and (max-width: 480px) {
  .backside {
        background-position: 65% 20%;
  }
}